* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: powderblue;
  flex-wrap: wrap;
}
.item {
  display: flex;
  list-style: none;
}
.item li {
  margin: 0px 20px;
}
